
.ttt1{
 text-align: center;
 border: 30px;
 background-color: rgb(132, 132, 255);
 margin-top: 80px 90px 70px;
 border-style:solid;
 color: black;


}
.tll{background-color: rgb(147, 241, 24);
font-family: Georgia, 'Times New Roman', Times, serif;
border width: 5px;
border style:red;
margin: 40px red;
color:red
}
